client/node_modules
client/dist
client/dist-ssr
client/*.local
client/.env

gs-api-key
data
node_modules
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
